/*
yellow background #f4fc04

hearts pink #fc04e4

lime green #34fb04

light blue #04d4fc

Sonsie One FONT
*/

html, body {
    height: 100%;
}

body {
    background-color: #f4fc04;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;    
}

.screen-width {
    max-width: -webkit-fill-available;
    max-width: 100vw;
}

.center-h {
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.center-v {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

section {
    height: 100%;
    width: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lines {
    background-image: url("../images/img-orange-lines.png");
}

#sect-one {
    /*
    border: 20px solid #000;
    border-bottom: 0;  
    */
}

#sect-two {
    /*
    border: 20px solid #000;
    border-bottom: 0;
    border-top: 0;  
    */
}

#sect-three {
    /*
    border: 20px solid #000;
    border-top: 0;  
    */
}

#main-image {
    position: fixed;
}
